Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

Add tag for rolling out service scripts
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Update variable reference for Fredrick vacation script
  ansible/roles/postfix/vars/main/main.yml
Labels: group: ansible, component: email

Include sender date as a unix timestamp
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Add top posting to vacation script
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Delay Fredrick vacation script replies by 10 minutes
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Set ansible_managed for use in templates
  ansible/ansible.cfg
Labels: group: ansible

Change all templates to use {{ ansible_managed }}
  ansible/roles/alloy/templates/config.alloy.j2
  ansible/roles/dovecot-monitoring/templates/maildir-mails.sh.j2
  ansible/roles/dovecot-monitoring/templates/maildir-sizes.sh.j2
  ansible/roles/dovecot/templates/configs/10-auth.conf.j2
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/10-master.conf.j2
  ansible/roles/dovecot/templates/configs/10-ssl.conf.j2
  ansible/roles/dovecot/templates/configs/15-mailboxes.conf.j2
  ansible/roles/dovecot/templates/configs/20-imap.conf.j2
  ansible/roles/dovecot/templates/configs/20-lmtp.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot.conf.j2
  ansible/roles/dovecot/templates/learn-ham.sieve.j2
  ansible/roles/dovecot/templates/learn-spam.sieve.j2
  ansible/roles/dovecot/templates/prevent-duplicates.sieve.j2
  ansible/roles/dovecot/templates/spam-to-folder.sieve.j2
  ansible/roles/git-mirrors/templates/cgitrc.j2
  ansible/roles/munin-node/templates/munin-node.conf.j2
  ansible/roles/munin-node/templates/plugin.conf.j2
  ansible/roles/munin-node/templates/plugins/lovelace/dovecot_maildirs.sh.j2
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
  ansible/roles/munin/templates/munin.conf.j2
  ansible/roles/nginx/templates/default_server.conf
  ansible/roles/opendkim/templates/opendkim.conf.j2
  ansible/roles/opendmarc-inbox/templates/dmarc.sieve.j2
  ansible/roles/postfix/templates/header-checks-submission.j2
  ansible/roles/postfix/templates/ldap/ldap-group-aliases.cf.j2
  ansible/roles/postfix/templates/ldap/ldap-registeredaddress.cf.j2
  ansible/roles/postfix/templates/ldap/ldap-relay-recipients.cf.j2
  ansible/roles/postfix/templates/ldap/ldap-service-mail.cf.j2
  ansible/roles/postfix/templates/ldap/ldap-uid.cf.j2
  ansible/roles/postfix/templates/main.cf.j2
  ansible/roles/postfix/templates/transport.j2
  ansible/roles/rrdstats/templates/generate-rrdtool-stats.service.j2
  ansible/roles/rrdstats/templates/generate-rrdtool-stats.timer.j2
  ansible/roles/spamassassin/templates/local.cf.j2
  ansible/roles/wireguard/templates/wg0.conf.j2
Labels: group: ansible, component: email

Correct handler names in Dovecot role
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

More cgitrc modifications
  ansible/roles/git-mirrors/templates/cgitrc.j2
Labels: group: ansible

Fix Jitsi SASL authentication
  ansible/roles/jitsi/tasks/ldap_auth.yml
Labels: group: ansible

Clean up mail script after feeding it to at
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Send raw date to Fredrick vacation script
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Clean up mail script after feeding it to at
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Create new sender canonical map template for SRS
  ansible/roles/postfix/templates/sender-canonical-maps.j2
Labels: group: ansible, component: email

Add new postfix sub-services for conditional SRS rewriting
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Update postfix main.cf to pass through new conditional SRS rewriter
  ansible/roles/postfix/templates/main.cf.j2
Labels: group: ansible, component: email

Appease the documentation dictator
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/main.cf.j2
Labels: group: ansible, component: email

Add all accepted mail domains to SRS exclude configuration
  ansible/roles/postfix/handlers/main.yml
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Nice
  ansible/roles/dovecot-monitoring/tasks/main.yml
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

AlertManager init use Alpine
  kubernetes/namespaces/monitoring/alerts/alertmanager/deployment.yaml
  kubernetes/namespaces/monitoring/alerts/alertmanager/initscript.yaml
Labels: group: kubernetes

Fix p1 in Fredrick
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Nice
  ansible/roles/dovecot-monitoring/tasks/main.yml
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Document Fredrick's vacation script in header
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Schedule vacation replies on nice queue
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Lower metabase database connection pool size
  kubernetes/namespaces/tooling/metabase/secrets.yaml
Labels: group: kubernetes

Document Fredrick's vacation script in header
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Schedule vacation replies on nice queue
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Lower metabase database connection pool size
  kubernetes/namespaces/tooling/metabase/secrets.yaml
Labels: group: kubernetes

Install pg_repack to all databases
  ansible/roles/postgres/tasks/main.yml
  ansible/roles/postgres/tasks/pg_repack.yml
Labels: group: ansible, component: database

Add a weekly cron job to repack all databases
  ansible/roles/postgres/tasks/pg_repack.yml
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Further optimisations to AlertManager initscript
  kubernetes/namespaces/monitoring/alerts/alertmanager/initscript.yaml
Labels: group: kubernetes

Disable GitHub authentication in Grafana
  kubernetes/namespaces/monitoring/grafana/configmap.yaml
  kubernetes/namespaces/monitoring/grafana/secrets.yaml
Labels: group: kubernetes

Add owlcorp.uk landing page
  ansible/host_vars/lovelace/nginx.yml
Labels: group: ansible

Add new role for bootstrapping the CI user with limited SSH keys
  ansible/playbook.yml
  ansible/roles/ci-user/tasks/main.yml
  ansible/roles/ci-user/vars/main/main.yml
Labels: group: ansible

Remove homedir serving from default server
  ansible/roles/nginx/templates/default_server.conf
Labels: group: ansible

Add new pydis.wtf site config to serve landing page
  ansible/host_vars/lovelace/nginx.yml
Labels: group: ansible

Add new role for bootstrapping the CI user with limited SSH keys
  ansible/playbook.yml
  ansible/roles/ci-user/tasks/main.yml
  ansible/roles/ci-user/vars/main/main.yml
Labels: group: ansible

Add new pydis.wtf site config to serve landing page
  ansible/host_vars/lovelace/nginx.yml
Labels: group: ansible

Remove homedir serving from default server
  ansible/roles/nginx/templates/default_server.conf
Labels: group: ansible

Add printful store ID for merch
  kubernetes/namespaces/merch/configmap.yaml
Labels: group: kubernetes

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"
