Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Remove prestashop
  kubernetes/namespaces/prestashop/README.md
  kubernetes/namespaces/prestashop/ingress.yaml
  kubernetes/namespaces/prestashop/values.yaml
Labels: group: kubernetes

Reflect pythondiscord tls cert into merch ns
  kubernetes/namespaces/cert-manager/cert-manager/certificates/pythondiscord.com.yaml
Labels: group: kubernetes

Make thallium available on pythondiscord.com
  dns/zones/pythondiscord.com.yaml
  kubernetes/namespaces/merch/ingress.yaml
Labels: group: dns, group: kubernetes

Remove prestashop from alert.d nginx exception for p99 timing alert
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Add twitter alias for directors
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Only retain loki logs for 14d
  kubernetes/namespaces/loki/loki_values.yml
Labels: group: kubernetes

2024 AoC settings for sir-robin
  kubernetes/namespaces/bots/sir-robin/configmap.yaml
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Disable daily reddit top posts
  kubernetes/namespaces/bots/sir-lancebot/secrets.yaml
Labels: group: kubernetes

Update Sir Robin with new AoC Constants
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Another AoC cookie update
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Adjust interest to the newest guideline from the ECB
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Have Fredrick only reply to 25% of mailing list posts
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Learn from Fredrick's therapy results
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Adjust interest to the newest guideline from the ECB
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Implement Chris' new savings policy
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Abolish entropy
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Abolish entropy
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Implement Chris' new savings policy
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
Labels: group: ansible

Learn from Fredrick's therapy results
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Have Fredrick only reply to 25% of mailing list posts
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Make Fredrick go for walks before replying to some e-mails
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Make Fredrick go for walks before replying to some e-mails
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Make K8S x509 script executable on free software computers
  kubernetes/scripts/create_x509_user_config.py
Labels: group: kubernetes

Add help cog _channel to trace loggers
  kubernetes/namespaces/bots/bot/configmap.yaml
Labels: group: kubernetes

Remove help cog _channel from trace loggers
  kubernetes/namespaces/bots/bot/configmap.yaml
Labels: group: kubernetes

Bump keycloak to latest version
  kubernetes/namespaces/tooling/keycloak/configmap.yaml
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

Add a weekly cron job to repack all databases
  ansible/roles/postgres/tasks/pg_repack.yml
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Install pg_repack to all databases
  ansible/roles/postgres/tasks/main.yml
  ansible/roles/postgres/tasks/pg_repack.yml
Labels: group: ansible, component: database

Bump ruff and relock
  poetry.lock
  pyproject.toml
Labels: none

Bump ansible collection versions
  ansible/roles/requirements.yml
Labels: group: ansible

Reload mailserver services on certificate update
  ansible/inventory/hosts.yaml
  ansible/roles/certbot/tasks/main.yml
Labels: group: ansible

Update AoC env var in sir-robin
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Allow ducking of messages in ot
  kubernetes/namespaces/bots/bot/configmap.yaml
Labels: group: kubernetes

Update nftables submodule URL
  .gitmodules
Labels: none

Update nftables submodule URL
  .gitmodules
Labels: none

Reload mailserver services on certificate update
  ansible/inventory/hosts.yaml
  ansible/roles/certbot/tasks/main.yml
Labels: group: ansible

Fix Keycloak issues
  kubernetes/namespaces/tooling/keycloak/configmap.yaml
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
  kubernetes/namespaces/tooling/keycloak/ingress.yaml
Labels: group: kubernetes

Fix Keycloak issues
  kubernetes/namespaces/tooling/keycloak/configmap.yaml
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
  kubernetes/namespaces/tooling/keycloak/ingress.yaml
Labels: group: kubernetes

Set dev-log channel id back to default
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Update ingresses with NGINX ingress upgrade
  kubernetes/namespaces/apis/quackstack/ingress.yaml
  kubernetes/namespaces/default/redirects/github.yaml
  kubernetes/namespaces/default/redirects/paypal.yaml
  kubernetes/namespaces/default/redirects/sentry.yaml
  kubernetes/namespaces/forms/forms-backend/ingress.yaml
  kubernetes/namespaces/kube-system/nginx/values.yaml
  kubernetes/namespaces/modmail/web/ingress.yaml
  kubernetes/namespaces/monitoring/alerts/alertmanager/ingress.yaml
  kubernetes/namespaces/monitoring/grafana/ingress.yaml
  kubernetes/namespaces/monitoring/prometheus/ingress.yaml
  kubernetes/namespaces/pixels/pixels-modsite/ingress.yaml
  kubernetes/namespaces/pixels/pixels/ingress.yaml
  kubernetes/namespaces/tooling/bitwarden/ingress.yaml
  kubernetes/namespaces/tooling/ff-bot/ingress.yml
  kubernetes/namespaces/tooling/keycloak/ingress.yaml
  kubernetes/namespaces/tooling/metabase/ingress.yaml
  kubernetes/namespaces/tooling/policy-bot/ingress.yaml
  kubernetes/namespaces/vault/ingress.yaml
  kubernetes/namespaces/web/pinnwand/ingress.yaml
  kubernetes/namespaces/web/public-stats/ingress.yaml
  kubernetes/namespaces/web/site/ingress.yaml
  kubernetes/namespaces/web/site/redirect.yaml
Labels: group: kubernetes
