Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

Add munin NGINX configuration
  ansible/host_vars/lovelace/nginx.yml
Labels: group: ansible

Include Uncle Christ's Assorted Works in mirror
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Add duplicate prevention sieve script
  ansible/roles/dovecot/templates/prevent-duplicates.sieve.j2
Labels: group: ansible, component: email

Compile prevent-duplicates.sieve script to sieve-after filter directory
  ansible/roles/dovecot/handlers/main.yml
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Make spam learning pipe scripts world readable/executable
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Change templating of user mail_home
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
Labels: group: ansible, component: email

Remove unnecessary & faulty LDAP user attribute mapping
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Enable some plugins for mail, spam and NGINX
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Add nginx status stub listener
  ansible/host_vars/lovelace/nginx.yml
Labels: group: ansible

Remove unnecessary handler for munin restarting
  ansible/roles/munin/handlers/main.yml
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Bind munin-node locally
  ansible/roles/munin/templates/munin-node.conf.j2
Labels: group: ansible

Include Uncle Christ's Assorted Works in mirror
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Configure PostgreSQL plugins for Munin
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Configure PostgreSQL plugins for Munin
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Support custom plugins for munin
  ansible/roles/munin/defaults/main.yml
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Calculate the Lovering Inheritance
  ansible/roles/munin/defaults/main.yml
  ansible/roles/munin/vars/main.yml
Labels: group: ansible

Bad Bank Working Day
  ansible/roles/munin/vars/main.yml
Labels: group: ansible

Recommend CLI & GUI sieve clients
  docs/docs/services/email/mail-clients.md
Labels: group: docs

Add duplicate prevention sieve script
  ansible/roles/dovecot/templates/prevent-duplicates.sieve.j2
Labels: group: ansible, component: email

Compile prevent-duplicates.sieve script to sieve-after filter directory
  ansible/roles/dovecot/handlers/main.yml
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Show status code in nginx alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Implement dovecot mail plugin, configure limits
  ansible/roles/munin/tasks/main.yml
  ansible/roles/munin/templates/plugin.conf.j2
  ansible/roles/munin/templates/plugins/dovecot_maildirs.sh.j2
  ansible/roles/munin/templates/plugins/lovering_inheritance.py.j2
  ansible/roles/munin/vars/main.yml
Labels: group: ansible

Update git mirror once a day
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

ManageSieve for Everyone
  ansible/group_vars/all/nftables.yml
  ansible/roles/dovecot/templates/dovecot.conf.j2
  docs/docs/services/email/mail-clients.md
Labels: group: ansible, group: docs, component: email

Remove unnecessary & faulty LDAP user attribute mapping
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Separate mail users by their UID
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Change templating of user mail_home
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
Labels: group: ansible, component: email

Recommend CLI & GUI sieve clients
  docs/docs/services/email/mail-clients.md
Labels: group: docs

Make spam learning pipe scripts world readable/executable
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Feed Dovecot maildir stats into Prometheus
  ansible/playbook.yml
  ansible/roles/dovecot-monitoring/defaults/main.yml
  ansible/roles/dovecot-monitoring/meta/main.yml
  ansible/roles/dovecot-monitoring/tasks/main.yml
  ansible/roles/dovecot-monitoring/templates/maildir-mails.sh.j2
  ansible/roles/dovecot-monitoring/templates/maildir-sizes.sh.j2
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Implement dovecot mail plugin, configure limits
  ansible/roles/munin/tasks/main.yml
  ansible/roles/munin/templates/plugin.conf.j2
  ansible/roles/munin/templates/plugins/dovecot_maildirs.sh.j2
  ansible/roles/munin/templates/plugins/lovering_inheritance.py.j2
  ansible/roles/munin/vars/main.yml
Labels: group: ansible

Add Wireguard subnet to ldap01
  ansible/inventory/hosts.yaml
Labels: group: ansible

Move wireguard role to run on all hosts
  ansible/playbook.yml
Labels: group: ansible

Set packages to install for Wireguard by distribution
  ansible/roles/wireguard/defaults/main/vars.yml
  ansible/roles/wireguard/tasks/main.yml
Labels: group: ansible

Update templated WireGuard config
  ansible/roles/wireguard/templates/wg0.conf.j2
Labels: group: ansible

Add standalone munin-node role
  ansible/host_vars/lovelace/munin.yml
  ansible/playbook.yml
  ansible/roles/munin-node/defaults/main.yml
  ansible/roles/munin-node/handlers/main.yml
  ansible/roles/munin-node/tasks/main.yml
  ansible/roles/munin-node/templates/munin-node.conf.j2
  ansible/roles/munin-node/templates/plugin.conf.j2
  ansible/roles/munin-node/templates/plugins/ldap01/.gitkeep
  ansible/roles/munin-node/templates/plugins/lovelace/dovecot_maildirs.sh.j2
  ansible/roles/munin-node/templates/plugins/lovelace/lovering_inheritance.py.j2
  ansible/roles/munin/tasks/main.yml
Labels: group: ansible

Add new firewalld role for shared reload handler
  ansible/roles/firewalld/handlers/main.yml
  ansible/roles/ldap/meta/main.yml
  ansible/roles/munin-node/meta/main.yml
Labels: group: ansible

Add Munin port 4949 to wireguard allow list for nftables hosts
  ansible/group_vars/all/nftables.yml
Labels: group: ansible

Setup firewall rule for Rocky hosts in munin-node
  ansible/roles/munin-node/tasks/main.yml
Labels: group: ansible

Create a new firewalld zone for Wireguard interface on Rocky hosts
  ansible/roles/wireguard/tasks/main.yml
Labels: group: ansible

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"
