Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Add owlcorp.uk mail handling
  ansible/roles/opendkim/vars/main.yml
  ansible/roles/postfix/vars/main/main.yml
Labels: group: ansible, component: email

Add SASL bans to Postfix fail2ban config
  ansible/roles/fail2ban/templates/jail.local.j2
Labels: group: ansible

Add ReadTheDocs configuration file
  .readthedocs.yaml
Labels: none

Add contributing guideline
  CONTRIBUTING.md
Labels: none

Add attendees section
  docs/docs/meeting-notes/posts/2024-08-15.md
Labels: group: docs

Add transport maps
  ansible/roles/postfix/templates/main.cf.j2
Labels: group: ansible, component: email

Deliver mails as maildir
  ansible/roles/postfix/templates/main.cf.j2
Labels: group: ansible, component: email

Add docs on parsing mail in scripts
  docs/docs/services/email/mail-services.md
Labels: group: docs

Switch to LE prod for owlcorp.uk
  kubernetes/namespaces/cert-manager/cert-manager/certificates/owlcorp.uk.yaml
Labels: group: kubernetes

Add table of services and ignore headers to GitHub Bots
  docs/docs/tooling/github-bots.md
Labels: group: docs

Update root of pydis.wtf to alias to lovelace instead of holding IPv4
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add trialing period to DNS entry
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Disable checkout on setup-python action
  .github/workflows/docs.yaml
Labels: group: github actions

Update builder script
  docs/builder.sh
Labels: group: docs

Add meeting notes for yesterday
  docs/docs/meeting-notes/posts/2024-08-15.md
Labels: group: docs

Update Postfix fail2ban filter to use correct systemd unit name
  ansible/roles/fail2ban/tasks/main.yml
Labels: group: ansible

Add documentation on how to ignore render[bot]
  docs/docs/tooling/github-bots.md
Labels: group: docs

Add PyDis-related profile picture
  docs/docs/meeting-notes/.authors.yml
Labels: group: docs

Add owlcorp.uk TLS certificate
  kubernetes/namespaces/cert-manager/cert-manager/certificates/owlcorp.uk.yaml
Labels: group: kubernetes

Remove readthedocs config file
  .readthedocs.yaml
Labels: none

Add documentation on available mail-based services
  docs/docs/services/email/mail-services.md
Labels: group: docs

Update references to the old docs url to use the new domain
  docs/docs/onboarding/resources.md
  docs/mkdocs.yml
Labels: group: docs

Add Postfix to fail2ban jails
  ansible/roles/fail2ban/templates/jail.local.j2
Labels: group: ansible

Remove builder file
  docs/builder.sh
Labels: group: docs

Add builder script for docs
  docs/builder.sh
Labels: group: docs

Add postgres user for thallium
  ansible/roles/postgres/vars/main/db_passwords.yml
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Add partial overwrite for copyright content
  docs/overrides/partials/copyright.html
Labels: group: docs

author => authors in 2024-08-15.md
  docs/docs/meeting-notes/posts/2024-08-15.md
Labels: group: docs

Make docs builder script executable
  docs/builder.sh
Labels: group: docs

Add signing key for thallium
  kubernetes/namespaces/merch/secrets.yaml
Labels: group: kubernetes

Debug git date localisation issues
  .github/workflows/docs.yaml
  docs/mkdocs.yml
Labels: group: docs, group: github actions

Add custom overrides directory to mkdocs
  docs/mkdocs.yml
Labels: group: docs

Install cowsay
  ansible/roles/common/tasks/main.yml
Labels: group: ansible

Don't wrap rules for easier parsing
  docs/docs/onboarding/rules.md
Labels: group: docs

Remove unneeded exrta space in rules
  docs/docs/onboarding/rules.md
Labels: group: docs
