Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

Remove erroneous backend protocol for keycloak ingress
  kubernetes/namespaces/tooling/keycloak/ingress.yaml
Labels: group: kubernetes

Add ssh secrets for king arthur
  .gitattributes
  kubernetes/namespaces/bots/king-arthur/deployment.yaml
  kubernetes/namespaces/bots/king-arthur/ssh-secrets.yaml
Labels: group: kubernetes

Add ssh secret to ignored files for linting
  kubernetes/scripts/lint_manifests.py
Labels: group: kubernetes

Mount the ssh secrets in root dir
  kubernetes/namespaces/bots/king-arthur/deployment.yaml
Labels: group: kubernetes

Fix ssh secret mounting
  kubernetes/namespaces/bots/king-arthur/deployment.yaml
  kubernetes/namespaces/bots/king-arthur/ssh-secrets.yaml
Labels: group: kubernetes

Initial guix setup
  guix/guix-acl-keys/jc.pub
  guix/ssh-keys/chris.pub
  guix/ssh-keys/jb.pub
  guix/ssh-keys/jb2.pub
  guix/ssh-keys/jc.pub
  guix/turing.scm
Labels: none

Deploy PostgreSQL & add unattended upgrades
  guix/turing.scm
Labels: none

Allow agents in the field to safely SSH to turing
  guix/turing.scm
Labels: none

Set up new dkim milter
  ansible/playbook.yml
  ansible/roles/dkim-milter/handlers/main.yml
  ansible/roles/dkim-milter/tasks/main.yml
  ansible/roles/dkim-milter/templates/dkim-milter.conf.j2
  ansible/roles/dkim-milter/templates/dkim-milter.service.j2
  ansible/roles/dkim-milter/vars/main.yml
Labels: group: ansible

Add turing DNS
  dns/zones/pydis.wtf.zone/box.yaml
Labels: group: dns

Deploy certbot and nginx to turing
  guix/turing.scm
Labels: none

Only dry run octo on PRs targetting main
  .github/workflows/dns-dry-run.yaml
Labels: group: github actions

Deploy simple nginx config to turing
  guix/turing.scm
Labels: none

Deploy simple nginx config to turing
  guix/turing.scm
Labels: none

Deploy certbot and nginx to turing
  guix/turing.scm
Labels: none

Add lovelace ACL key to turing
  guix/guix-acl-keys/lovelace.pub
  guix/turing.scm
Labels: none

Add Chris' SSH key from lovelace
  guix/ssh-keys/chris-lovelace.pub
  guix/turing.scm
Labels: none

Bump dns cache miss alert time
  kubernetes/namespaces/monitoring/alerts/alerts.d/coredns.yaml
Labels: group: kubernetes

Revert "Update ghcr.io/owl-corp/keycloak Docker tag to v26.2.1"
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

Add DNS entry for agents portal
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add DNS entry for agents portal
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Bump dns cache miss alert time
  kubernetes/namespaces/monitoring/alerts/alerts.d/coredns.yaml
Labels: group: kubernetes

Update cert-manager values to new Helm chart version
  kubernetes/namespaces/cert-manager/cert-manager/values.yaml
Labels: group: kubernetes

Update Cloudflare API token for cert-manager
  kubernetes/namespaces/cert-manager/cert-manager/secrets.yaml
Labels: group: kubernetes

Prevent httpd from dying on logrotate reloads
  ansible/roles/ldap/handlers/main.yml
  ansible/roles/ldap/tasks/main.yml
Labels: group: ansible

Update King Arthur GitHub extension to use fine-grained tokens
  kubernetes/namespaces/bots/king-arthur/secrets.yaml
Labels: group: kubernetes

Update Keycloak to 26.3.0
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

10x the repo
  .github/workflows/dns-deploy.yaml
  .github/workflows/dns-dry-run.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint-ansible.yaml
  .github/workflows/lint-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  README.md
  ansible/README.md
  dns/README.md
  docs/README.md
  poetry.lock
  pyproject.toml
  renovate.json
  uv.lock
Labels: group: ansible, group: dns, group: docs, group: github actions

Add dependabot config
  .github/dependabot.yml
Labels: none

Update King Arthur GitHub extension to use fine-grained tokens
  kubernetes/namespaces/bots/king-arthur/secrets.yaml
Labels: group: kubernetes

Add dependabot config
  .github/dependabot.yml
Labels: none

Update Keycloak to 26.3.0
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

10x the repo
  .github/workflows/dns-deploy.yaml
  .github/workflows/dns-dry-run.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint-ansible.yaml
  .github/workflows/lint-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  README.md
  ansible/README.md
  dns/README.md
  docs/README.md
  poetry.lock
  pyproject.toml
  renovate.json
  uv.lock
Labels: group: ansible, group: dns, group: docs, group: github actions

Exclude 401 from NGINX 4xx alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Update site deployment
  kubernetes/namespaces/web/site/deployment.yaml
Labels: group: kubernetes

Add sentry_sdk config for modmail
  kubernetes/namespaces/modmail/secrets.yaml
Labels: group: kubernetes

Update modmail Sentry DSNs
  kubernetes/namespaces/modmail/secrets.yaml
Labels: group: kubernetes

Update modmail bot token
  kubernetes/namespaces/modmail/secrets.yaml
Labels: group: kubernetes

Update modmail secrets with new values
  kubernetes/namespaces/modmail/secrets.yaml
Labels: group: kubernetes

Update policy-bot config
  kubernetes/namespaces/tooling/policy-bot/configmap.yaml
Labels: group: kubernetes

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"
