Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

Install borgbackup from source for S3 functionality
  ansible/roles/borg/tasks/main.yml
  ansible/roles/borg/vars/main/main.yml
Labels: group: ansible

Update S3 paths to compatible URLs
  ansible/roles/borg/templates/config.yaml.j2
Labels: group: ansible

Ensure the borgmatic timer is started
  ansible/roles/borg/tasks/main.yml
Labels: group: ansible

mongodb: use host networking & bind to v6
  ansible/roles/mongodb/templates/mongodb.container.j2
Labels: group: ansible

Fix typo in King Arthur The Terrible environment variables
  kubernetes/namespaces/bots/king-arthur/README.md
  kubernetes/namespaces/bots/king-arthur/secrets.yaml
Labels: group: kubernetes

Add Fritz router report pipeline for email
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/services/fritz-report-pipe.sh.j2
  ansible/roles/postfix/templates/transport.j2
Labels: group: ansible, component: email

Update fredrick to reply to mailing lists correctly
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Add my domain aliases
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Add Chris's aliases
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Fix mailing list reply-all
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Mailing list updates
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Update sir-robin secrets for AoC 2025
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Chris is an idiot
  kubernetes/namespaces/bots/sir-robin/configmap.yaml
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Add minimum mongodb version
  ansible/roles/mongodb/templates/mongodb.image.j2
Labels: group: ansible

Update AoC raw leaderboards secret with new cookies
  kubernetes/namespaces/bots/sir-robin/secrets.yaml
Labels: group: kubernetes

Run uv sync --upgrade
  uv.lock
Labels: none

Run ansible-lint from top-level directory
  .github/workflows/lint-ansible.yaml
Labels: group: github actions

Update ansible-lint ignores
  ansible/.ansible-lint
Labels: group: ansible

Constrain grep search for ansible vaulted files
  .github/workflows/lint-ansible.yaml
Labels: group: github actions

Prevent httpd from dying on logrotate reloads
  ansible/roles/ldap/handlers/main.yml
  ansible/roles/ldap/tasks/main.yml
Labels: group: ansible

Address me
  kubernetes/namespaces/bots/king-arthur/README.md
Labels: group: kubernetes

Initial guix setup
  guix/guix-acl-keys/jc.pub
  guix/ssh-keys/chris.pub
  guix/ssh-keys/jb.pub
  guix/ssh-keys/jb2.pub
  guix/ssh-keys/jc.pub
  guix/turing.scm
Labels: none

Deploy PostgreSQL & add unattended upgrades
  guix/turing.scm
Labels: none

Deploy simple nginx config to turing
  guix/turing.scm
Labels: none

Update my ACL key
  guix/guix-acl-keys/jc.pub
Labels: none

Deploy certbot and nginx to turing
  guix/turing.scm
Labels: none

Allow agents in the field to safely SSH to turing
  guix/turing.scm
Labels: none

Add Chris' SSH key from lovelace
  guix/ssh-keys/chris-lovelace.pub
  guix/turing.scm
Labels: none

Add lovelace ACL key to turing
  guix/guix-acl-keys/lovelace.pub
  guix/turing.scm
Labels: none

Add nftables
  guix/turing.scm
Labels: none

Gentlemen, synchronize your death watches
  guix/turing.scm
Labels: none

Adjust King Arthur bot name (#619)
  kubernetes/namespaces/bots/king-arthur/README.md
Labels: group: kubernetes

Bump Grafana & Keycloak to latest versions
  kubernetes/namespaces/monitoring/grafana/deployment-grafana.yaml
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

Provision turing with guix
  .pre-commit-config.yaml
  guix/README.md
  guix/guix-acl-keys/jc.pub
  guix/guix-acl-keys/joe-lovelace.pub
  guix/guix-acl-keys/lovelace.pub
  guix/ssh-keys/chris-lovelace.pub
  guix/ssh-keys/chris.pub
  guix/ssh-keys/jb-lovelace.pub
  guix/ssh-keys/jb.pub
  guix/ssh-keys/jb2.pub
  guix/ssh-keys/jc.pub
  guix/turing.scm
Labels: none

Add memorium to our founder
  guix/resources/motd.txt
  guix/turing.scm
Labels: none

Add IPv6 connectivity to turing
  guix/turing.scm
Labels: none

Refactor Guix deployment into separate module
  .pre-commit-config.yaml
  guix/deployment.scm
  guix/machines/turing.scm
  guix/resources/guix-acl-keys/jc.pub
  guix/resources/guix-acl-keys/joe-lovelace.pub
  guix/resources/guix-acl-keys/lovelace.pub
  guix/resources/ssh-keys/chris-lovelace.pub
  guix/resources/ssh-keys/chris.pub
  guix/resources/ssh-keys/jb-lovelace.pub
  guix/resources/ssh-keys/jb.pub
  guix/resources/ssh-keys/jb2.pub
  guix/resources/ssh-keys/jc.pub
Labels: none

Assimilate Christopher's property
  guix/deployment.scm
  guix/machines/turing.scm
Labels: none

Add testing instructions
  guix/README.md
Labels: none

Add Joe's ACL key
  guix/machines/turing.scm
  guix/resources/guix-acl-keys/joe-macbook.pub
Labels: none

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"
