Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

Stop installing libsasl2-modules-ldap
  ansible/roles/jitsi/tasks/ldap_auth.yml
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Explicitly install moreutils for chronic utility
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Improve formatting of git clone command for mirrors
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Harden security permissions on git-mirrors owned files
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Make git-mirrors a system user
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Rename NGINX variables in git-mirrors role
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/templates/nginx-site.conf.j2
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Update script to use `cd -` instead of pushd/popd for sh compatibility
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
Labels: group: ansible

Use variables for cronjob file naming
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Amendments to mirrors cron script for reliability
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
Labels: group: ansible

Improve alertmanager text e-mail format
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
Labels: group: kubernetes

Stop installing libsasl2-modules-ldap
  ansible/roles/jitsi/tasks/ldap_auth.yml
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Install prometheus-postfix-exporter
  ansible/host_vars/lovelace/prometheus.yml
  ansible/playbook.yml
  ansible/roles/prometheus-postfix-exporter/meta/main.yml
  ansible/roles/prometheus-postfix-exporter/tasks/main.yml
Labels: group: ansible

Install prometheus-postfix-exporter
  ansible/host_vars/lovelace/prometheus.yml
  ansible/playbook.yml
  ansible/roles/prometheus-postfix-exporter/meta/main.yml
  ansible/roles/prometheus-postfix-exporter/tasks/main.yml
  kubernetes/namespaces/monitoring/alerts/alerts.d/mail.yaml
Labels: group: ansible, group: kubernetes

Install prometheus-postfix-exporter
  ansible/host_vars/lovelace/prometheus.yml
Labels: group: ansible

Update indentation of new postfix prometheus rules
  ansible/host_vars/lovelace/prometheus.yml
Labels: group: ansible

Explicitly install moreutils for chronic utility
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Improve formatting of git clone command for mirrors
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Make git-mirrors a system user
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Harden security permissions on git-mirrors owned files
  ansible/roles/git-mirrors/tasks/main.yml
Labels: group: ansible

Update script to use `cd -` instead of pushd/popd for sh compatibility
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
Labels: group: ansible

Rename NGINX variables in git-mirrors role
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/templates/nginx-site.conf.j2
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Use variables for cronjob file naming
  ansible/roles/git-mirrors/tasks/main.yml
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Amendments to mirrors cron script for reliability
  ansible/roles/git-mirrors/templates/update-mirrors.sh.j2
Labels: group: ansible

ManageSieve for Everyone
  ansible/group_vars/all/nftables.yml
  ansible/roles/dovecot/templates/dovecot.conf.j2
  docs/docs/services/email/mail-clients.md
Labels: group: ansible, group: docs, component: email

Add HBA rule for grafana -> pinnwand
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Separate mail users by their UID
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Delete pydis-users role
  ansible/roles/pydis-users/defaults/main.yml
  ansible/roles/pydis-users/meta/main.yml
  ansible/roles/pydis-users/tasks/main.yml
  ansible/roles/pydis-users/vars/main.yml
Labels: group: ansible

Stop running pydis-users role on netcup hosts
  ansible/playbook.yml
Labels: group: ansible

Remove documentation and tooling references to pydis-users role
  .pre-commit-config.yaml
  ansible/.gitattributes
  ansible/local_testing/README.md
Labels: group: ansible

Show status code in nginx alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Do not rewrite inbound mail headers
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Stop running pydis-users role on netcup hosts
  ansible/playbook.yml
Labels: group: ansible

Remove documentation and tooling references to pydis-users role
  .pre-commit-config.yaml
  ansible/.gitattributes
  ansible/local_testing/README.md
Labels: group: ansible

Delete pydis-users role
  ansible/roles/pydis-users/defaults/main.yml
  ansible/roles/pydis-users/meta/main.yml
  ansible/roles/pydis-users/tasks/main.yml
  ansible/roles/pydis-users/vars/main.yml
Labels: group: ansible

Feed Dovecot maildir stats into Prometheus
  ansible/playbook.yml
  ansible/roles/dovecot-monitoring/defaults/main.yml
  ansible/roles/dovecot-monitoring/meta/main.yml
  ansible/roles/dovecot-monitoring/tasks/main.yml
  ansible/roles/dovecot-monitoring/templates/maildir-mails.sh.j2
  ansible/roles/dovecot-monitoring/templates/maildir-sizes.sh.j2
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Do not rewrite inbound mail headers
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Update spam address list
  ansible/roles/postfix/files/sender_access
Labels: group: ansible, component: email

Add munin DNS record
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add munin to monitoring in playbook
  ansible/playbook.yml
Labels: group: ansible

Rudimentary pass at a munin role
  ansible/roles/munin/handlers/main.yml
  ansible/roles/munin/tasks/main.yml
  ansible/roles/munin/templates/munin-node.conf.j2
  ansible/roles/munin/templates/munin.conf.j2
Labels: group: ansible

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"
