Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Add new aliases
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Bump Keycloak to 26.5.7
  kubernetes/namespaces/tooling/keycloak/deployment.yaml
Labels: group: kubernetes

Add Envoy load balancer address
  dns/zones/pydis.wtf.zone/box.yaml
Labels: group: dns

Add new Python Discord records for code jam winners
  dns/zones/pythondiscord.com.zone/code-jam.yaml
  dns/zones/pythondiscord.com.zone/main.yaml
Labels: group: dns

Update docs linting job
  .github/workflows/lint-docs.yaml
Labels: group: github actions

Correct URI for Git edits
  docs/mkdocs.yml
Labels: group: docs

Add Netlify config file
  netlify.toml
Labels: none

Update script to use mblaze
  ansible/roles/postfix/files/services/fortune-reply.sh
Labels: group: ansible, component: email

Correct previous commit in submodules
  .gitmodules
Labels: none

Add Postfix transport map
  ansible/roles/postfix/templates/transport.j2
Labels: group: ansible, component: email

Correct for incompetent programmer
  .github/workflows/docs.yaml
Labels: group: github actions

Move gitmodules to HTTP instead of SSH
  .gitmodules
Labels: none

Reformat scripts with latest ruff rules
  kubernetes/scripts/create_x509_user_config.py
Labels: group: kubernetes

Update Git authors search path
  docs/mkdocs.yml
Labels: group: docs

Add new email aliases
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Install fortune in the common stage
  ansible/roles/common/tasks/main.yml
Labels: group: ansible

Update docs publish job
  .github/workflows/docs.yaml
Labels: group: github actions

Disable ruff preview mode
  pyproject.toml
Labels: none

Add docs.pydis.wtf A record
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add fortune reply script
  ansible/roles/postfix/files/services/fortune-reply.sh
Labels: group: ansible, component: email

Update docs path for git commiters plugin
  docs/mkdocs.yml
Labels: group: docs

Copy scripts and transport map in Postfix role
  ansible/roles/postfix/handlers/main.yml
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Ignore mkdocs.yml from check-yaml pre-commit linter
  .pre-commit-config.yaml
Labels: none

Add Git plugins for mkdocs
  .github/workflows/docs.yaml
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: group: docs, group: github actions

Add edit buttons to generated documentation pages
  docs/mkdocs.yml
Labels: group: docs

Ensure taskipy is installed in CI
  .github/workflows/docs.yaml
  .github/workflows/lint-docs.yaml
Labels: group: github actions

Revert recent Netlify commits
  .gitmodules
  netlify.toml
Labels: none

Revert "Deliver mails as maildir"
  ansible/roles/postfix/templates/main.cf.j2
Labels: group: ansible, component: email

Allow user public directories to be returned at /~username/ paths
  ansible/roles/nginx/templates/default_server.conf
Labels: group: ansible

Add sparse checkout for docs
  .github/workflows/docs.yaml
Labels: group: github actions

Use a CNAME to server devops docs
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Alphabetise DNS records
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add thallium frontend DNS
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Add myself to the authors
  docs/docs/meeting-notes/.authors.yml
Labels: group: docs

Add documentation on using public folders
  docs/docs/onboarding/public_folders.md
Labels: group: docs

Thallium Backend to merch-api
  dns/zones/pydis.wtf.zone/root.yaml
  kubernetes/namespaces/merch/ingress.yaml
Labels: group: dns, group: kubernetes

Builder use sh instead of bash
  docs/builder.sh
Labels: group: docs

Add manifests for thallium
  dns/zones/pydis.wtf.zone/root.yaml
  kubernetes/namespaces/merch/deployment.yaml
  kubernetes/namespaces/merch/ingress.yaml
  kubernetes/namespaces/merch/secrets.yaml
  kubernetes/namespaces/merch/service.yaml
Labels: group: dns, group: kubernetes

Install mblaze utilities
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Reflect pydis.wtf cert into merge
  kubernetes/namespaces/cert-manager/cert-manager/certificates/pydis.wtf.yaml
Labels: group: kubernetes
