Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Update policy-bot config again
  kubernetes/namespaces/tooling/policy-bot/configmap.yaml
Labels: group: kubernetes

Add cehcksum valdiation config
  kubernetes/namespaces/databases/blackbox/secrets.yaml
Labels: group: kubernetes

Update sir-robin environment
  kubernetes/namespaces/bots/sir-robin/configmap.yaml
Labels: group: kubernetes

New git mirror
  ansible/roles/git-mirrors/vars/main.yml
Labels: group: ansible

Don't set gid when creating mail dirs and operating on mailboxes
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Set group write permissions on /var/vmail folder
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Document pyproject.toml
  README.md
Labels: none

Don't set gid when creating mail dirs and operating on mailboxes
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
Labels: group: ansible, component: email

Set group write permissions on /var/vmail folder
  ansible/roles/dovecot/tasks/main.yml
Labels: group: ansible, component: email

Sanitize series names in Dovecot maildirs plugin
  ansible/roles/munin-node/templates/plugins/lovelace/dovecot_maildirs.sh.j2
Labels: group: ansible

More sanitisation of generated values for Dovecot plugin
  ansible/roles/munin-node/templates/plugins/lovelace/dovecot_maildirs.sh.j2
Labels: group: ansible

Missed a final sanitisation for maildir sizes
  ansible/roles/munin-node/templates/plugins/lovelace/dovecot_maildirs.sh.j2
Labels: group: ansible

Create copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Fix formatting in copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Add the codejam winners to the k8s cluster
  kubernetes/namespaces/codejam-winners/gardenias/deployment.yaml
  kubernetes/namespaces/codejam-winners/gardenias/ingress.yaml
  kubernetes/namespaces/codejam-winners/gardenias/service.yaml
  kubernetes/namespaces/codejam-winners/monsteras/deployment.yaml
  kubernetes/namespaces/codejam-winners/monsteras/ingress.yaml
  kubernetes/namespaces/codejam-winners/monsteras/service.yaml
  kubernetes/namespaces/codejam-winners/tulips/deployment.yaml
  kubernetes/namespaces/codejam-winners/tulips/ingress.yaml
  kubernetes/namespaces/codejam-winners/tulips/service.yaml
Labels: group: kubernetes

Add rule about AI contributions
  docs/docs/onboarding/rules.md
Labels: group: docs

Reorder rules for clarity in onboarding document
  docs/docs/onboarding/rules.md
Labels: group: docs

Use proper header name for junk sieve rule
  ansible/roles/dovecot/templates/spam-to-folder.sieve.j2
Labels: group: ansible, component: email

Use newer ModMail image & update TMPDIR paths with 4.2.0
  kubernetes/namespaces/modmail/bot/deployment.yaml
Labels: group: kubernetes

Cast Fredrick delay to integer to stop `at` complaining
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Add paperless domain
  dns/zones/pydis.wtf.zone/root.yaml
Labels: group: dns

Upgrade configuration files for Dovecot 2.3
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/dovecot/templates/configs/10-auth.conf.j2
  ansible/roles/dovecot/templates/configs/10-director.conf.j2
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/10-ssl.conf.j2
  ansible/roles/dovecot/templates/configs/20-imap.conf.j2
  ansible/roles/dovecot/templates/configs/20-lmtp.conf.j2
  ansible/roles/dovecot/templates/configs/90-acl.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot.conf.j2
Labels: group: ansible, component: email

PostgreSQL 18 updates
  ansible/roles/postgres/tasks/main.yml
  ansible/roles/postgres/templates/postgresql.conf.j2
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Update dovecot configuration comments to 2.3
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/dovecot/templates/configs/10-auth.conf.j2
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/10-master.conf.j2
  ansible/roles/dovecot/templates/configs/10-ssl.conf.j2
  ansible/roles/dovecot/templates/configs/20-imap.conf.j2
  ansible/roles/dovecot/templates/configs/20-lmtp.conf.j2
  ansible/roles/dovecot/templates/configs/90-acl.conf.j2
  ansible/roles/dovecot/templates/configs/90-sieve.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot.conf.j2
Labels: group: ansible, component: email

Upgrade configuration files for Dovecot 2.4
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/dovecot/templates/configs/10-auth.conf.j2
  ansible/roles/dovecot/templates/configs/10-director.conf.j2
  ansible/roles/dovecot/templates/configs/10-mail.conf.j2
  ansible/roles/dovecot/templates/configs/10-master.conf.j2
  ansible/roles/dovecot/templates/configs/10-ssl.conf.j2
  ansible/roles/dovecot/templates/configs/20-imap.conf.j2
  ansible/roles/dovecot/templates/configs/20-lmtp.conf.j2
  ansible/roles/dovecot/templates/configs/90-acl.conf.j2
  ansible/roles/dovecot/templates/configs/90-sieve.conf.j2
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot-ldap.conf.ext.j2
  ansible/roles/dovecot/templates/dovecot.conf.j2
Labels: group: ansible, component: email

Bump process limit
  ansible/roles/common/tasks/main.yml
Labels: group: ansible

Add Prometheus exporter for Linode
  kubernetes/namespaces/monitoring/exporters/linode/linode_exporter.yaml
  kubernetes/namespaces/monitoring/exporters/linode/secrets.yaml
Labels: group: kubernetes

Add role to deploy MongoDB as quadlet on lovelace
  ansible/playbook.yml
  ansible/roles/mongodb/README.md
  ansible/roles/mongodb/handlers/main.yml
  ansible/roles/mongodb/meta/main.yml
  ansible/roles/mongodb/tasks/main.yml
  ansible/roles/mongodb/templates/mongodb.container.j2
  ansible/roles/mongodb/templates/mongodb.image.j2
  ansible/roles/mongodb/templates/mongodb.volume.j2
Labels: group: ansible

Accept forwarding for in-container networking
  ansible/group_vars/all/nftables.yml
Labels: group: ansible

Add troubleshooting section for MongoDB docs
  ansible/roles/mongodb/README.md
Labels: group: ansible

Configure MongoDB SSL
  ansible/roles/mongodb/meta/main.yml
  ansible/roles/mongodb/tasks/main.yml
  ansible/roles/mongodb/templates/mongodb.container.j2
  ansible/roles/mongodb/vars/main.yml
Labels: group: ansible

Do not raise unrealistic expectations
  ansible/roles/mongodb/templates/mongodb.container.j2
Labels: group: ansible

Accept MongoDB connections
  ansible/group_vars/all/nftables.yml
Labels: group: ansible

Update blackbox MongoDB connection string
  kubernetes/namespaces/databases/blackbox/blackbox-configmap.yaml
Labels: group: kubernetes

Update modmail & forms secrets to use new mongodb conn string
  ansible/roles/mongodb/tasks/main.yml
  kubernetes/namespaces/forms/forms-backend/secrets.yaml
  kubernetes/namespaces/modmail/secrets.yaml
Labels: group: ansible, group: kubernetes

Remove Kubernetes MongoDB deployment manifests
  kubernetes/namespaces/databases/mongodb/README.md
  kubernetes/namespaces/databases/mongodb/deployment.yaml
  kubernetes/namespaces/databases/mongodb/secrets.yaml
  kubernetes/namespaces/databases/mongodb/service.yaml
  kubernetes/namespaces/databases/mongodb/volume.yaml
Labels: group: kubernetes

Update database credentials for Borg
  ansible/roles/postgres/vars/main/db_passwords.yml
  ansible/roles/postgres/vars/main/main.yml
Labels: group: ansible, component: database

Add preliminary borg role
  ansible/roles/borg/meta/main.yml
  ansible/roles/borg/tasks/main.yml
  ansible/roles/borg/templates/borgmatic.env.j2
  ansible/roles/borg/templates/borgmatic.service.j2
  ansible/roles/borg/templates/borgmatic.timer.j2
  ansible/roles/borg/templates/config.yaml.j2
  ansible/roles/borg/vars/main/keys.yml
  ansible/roles/borg/vars/main/main.yml
Labels: group: ansible

Run borg role on database hosts
  ansible/playbook.yml
Labels: group: ansible

Use virtualenv version of borg
  ansible/roles/borg/templates/config.yaml.j2
Labels: group: ansible
