Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Add scraping config to munin master against all Ansible hosts
  ansible/roles/munin/templates/munin.conf.j2
Labels: group: ansible

Update munin-node config template to allow scraping from any host
  ansible/roles/munin-node/templates/munin-node.conf.j2
Labels: group: ansible

Add dmarc_metrics_exporter role requirement
  ansible/roles/requirements.yml
Labels: group: ansible

Add new DMARC inbox sieve filter
  ansible/roles/opendmarc-inbox/templates/dmarc.sieve.j2
Labels: group: ansible

Add tasks to template and enable DMARC inbox sieve filter
  ansible/roles/opendmarc-inbox/handlers/main.yml
  ansible/roles/opendmarc-inbox/tasks/main.yml
  ansible/roles/opendmarc-inbox/vars/main.yml
Labels: group: ansible

Run DMARC inbox setup and dmarc_metrics_exporter role on mail hosts
  ansible/host_vars/lovelace/dmarc_metrics.yml
  ansible/playbook.yml
Labels: group: ansible

Add DMARC exporter to Prometheus scrape targets
  ansible/host_vars/lovelace/prometheus.yml
Labels: group: ansible

Use --unsafe in check-yaml pre-commit filter
  .pre-commit-config.yaml
Labels: none

Explicitly set become: true on DMARC sieve compilation handler
  ansible/roles/opendmarc-inbox/handlers/main.yml
Labels: group: ansible

Skip ansible lint on DMARC metrics exporter role
  ansible/playbook.yml
Labels: group: ansible

noqa variable naming on dmarc_metrics_exporter task
  ansible/playbook.yml
Labels: group: ansible

Document alertmanager reloads
  kubernetes/namespaces/monitoring/alerts/Makefile
  kubernetes/namespaces/monitoring/alerts/README.md
Labels: group: kubernetes

Raise time threshold for 4xx alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Swap saslauthd to mount outside of postfix
  ansible/roles/jitsi/meta/main.yml
  ansible/roles/jitsi/tasks/ldap_auth.yml
  ansible/roles/sasl/defaults/main.yml
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Add missing task for sasl role
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Override runtime directory permissions
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Swap saslauthd to mount outside of postfix
  ansible/roles/jitsi/meta/main.yml
  ansible/roles/jitsi/tasks/ldap_auth.yml
  ansible/roles/sasl/defaults/main.yml
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Override runtime directory permissions
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Update git checkouts in Ansible lint CI stage
  .github/workflows/lint-ansible.yaml
Labels: group: github actions

Update Ansible lint config to ignore Jinja spacing rule
  ansible/.ansible-lint
Labels: group: ansible

Install Galaxy dependencies in CI with cache
  .github/workflows/lint-ansible.yaml
Labels: group: github actions

Pleasure the style dictator
  ansible/roles/sasl/tasks/main.yml
Labels: group: ansible

Raise time threshold for 4xx alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Migrate service scripts from files to templates
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/services/fortune-reply.sh.j2
Labels: group: ansible, component: email

Add variables for Fredrick API
  ansible/roles/postfix/vars/main/main.yml
  ansible/roles/postfix/vars/main/vault.yml
Labels: group: ansible, component: email

Add transport rules for Fredrick
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/transport.j2
Labels: group: ansible, component: email

Add Fredrick API handler script
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Treat NGINX responses as UTF-8
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/nginx/templates/nginx-conf.d/charset.conf.j2
Labels: group: ansible

Treat NGINX responses as UTF-8
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/nginx/templates/nginx-conf.d/charset.conf.j2
Labels: group: ansible

Have Fredrick's vacation tool CC in DevOps
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Update variable reference for Fredrick vacation script
  ansible/roles/postfix/vars/main/main.yml
Labels: group: ansible, component: email

Add tag for rolling out service scripts
  ansible/roles/postfix/tasks/main.yml
Labels: group: ansible, component: email

Add top posting to vacation script
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Include sender date as a unix timestamp
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Delay Fredrick vacation script replies by 10 minutes
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Migrate service scripts from files to templates
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/services/fortune-reply.sh.j2
Labels: group: ansible, component: email

Add Fredrick API handler script
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Have Fredrick's vacation tool CC in DevOps
  ansible/roles/postfix/templates/services/fredrick-reply.sh.j2
Labels: group: ansible, component: email

Add variables for Fredrick API
  ansible/roles/postfix/vars/main/main.yml
  ansible/roles/postfix/vars/main/vault.yml
Labels: group: ansible, component: email

Add transport rules for Fredrick
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/transport.j2
Labels: group: ansible, component: email
