Repository python-discord/infra, changes with the labels that .github/labeler.yml gives for each.
All labels: group: ansible, group: dns, group: docs, group: github actions, group: kubernetes, component: database, component: email

.github/labeler.yml:

"group: ansible":
  - changed-files:
      - any-glob-to-any-file: "ansible/**"

"group: dns":
  - changed-files:
      - any-glob-to-any-file: "dns/**"

"group: docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**"

"group: github actions":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

"group: kubernetes":
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**"

"component: database":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/postgres/**"
          - "ansible/roles/prometheus-postgres-exporter/**"

"component: email":
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/roles/dovecot/**"
          - "ansible/roles/neomutt/**"
          - "ansible/roles/opendkim/**"
          - "ansible/roles/opendmarc/**"
          - "ansible/roles/postfix/**"
          - "ansible/roles/spamassassin/**"

Initial guix-sops configuration
  .gitattributes
  guix/.sops.yaml
  guix/README.md
  guix/machines/turing.scm
  guix/resources/age-key
  guix/secrets.yaml
Labels: none

Pin channels
  guix/channels-lock.scm
Labels: none

Add kutiekat aliases
  ansible/roles/postfix/templates/virtual.j2
Labels: group: ansible, component: email

Remove Graphite
  kubernetes/namespaces/default/graphite/README.md
  kubernetes/namespaces/default/graphite/deployment.yaml
  kubernetes/namespaces/default/graphite/service.yaml
  kubernetes/namespaces/default/graphite/volume.yaml
Labels: group: kubernetes

Add statsd-exporter deployment
  kubernetes/namespaces/monitoring/statsd/README.md
  kubernetes/namespaces/monitoring/statsd/configmap.yaml
  kubernetes/namespaces/monitoring/statsd/deployment.yaml
  kubernetes/namespaces/monitoring/statsd/service.yaml
Labels: group: kubernetes

Exempt Prometheus from NGINX P99 timing alert
  kubernetes/namespaces/monitoring/alerts/alerts.d/nginx.yaml
Labels: group: kubernetes

Add mod team as an AlertManager destination
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
  kubernetes/namespaces/monitoring/alerts/alertmanager/secrets.yaml
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Add some missing graphite categories
  kubernetes/namespaces/monitoring/statsd/configmap.yaml
Labels: group: kubernetes

Add Prometheus alert autodeployment
  .github/workflows/prometheus.yaml
Labels: group: github actions

Fix paths
  .github/workflows/prometheus.yaml
Labels: group: github actions

Increase Discord join alarm threshold
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Update Graphite matching rules some more
  kubernetes/namespaces/monitoring/statsd/configmap.yaml
Labels: group: kubernetes

Add experimental alert for 20 percent guild member growth
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Add missing newline at end of discord alert config file
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Only deliver moderation alerts to the mod team
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
Labels: group: kubernetes

Only deliver moderation alerts to the mod team
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
Labels: group: kubernetes

Update discord.yaml experimental members alert
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Update Discord experimental alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Update Discord alerts
  kubernetes/namespaces/monitoring/alerts/alerts.d/discord.yaml
Labels: group: kubernetes

Add instructions to use channels via lockfile
  guix/README.md
Labels: none

Add meeting notes for 2026-03-26
  .github/copilot-instructions.md
  docs/docs/meeting-notes/posts/2026-03-26.md
Labels: group: docs

Prevent httpd from dying on logrotate reloads
  ansible/roles/ldap/handlers/main.yml
  ansible/roles/ldap/tasks/main.yml
Labels: group: ansible

Prevent httpd from dying on logrotate reloads
  ansible/roles/ldap/handlers/main.yml
  ansible/roles/ldap/tasks/main.yml
Labels: group: ansible

Add meeting notes for 2026-03-26
  .github/copilot-instructions.md
  docs/docs/meeting-notes/posts/2026-03-26.md
Labels: group: docs

Initial guix-sops configuration
  .gitattributes
  guix/.sops.yaml
  guix/README.md
  guix/machines/turing.scm
  guix/resources/age-key
  guix/secrets.yaml
Labels: none

Pin channels
  guix/channels-lock.scm
Labels: none

Add instructions to use channels via lockfile
  guix/README.md
Labels: none

Clean up imports
  guix/machines/turing.scm
Labels: none

Enable fail2ban for sshd on turing
  guix/machines/turing.scm
Labels: none

Use unprivileged guix-daemon
  guix/machines/turing.scm
Labels: none

Authorize jc's second archive key
  guix/machines/turing.scm
  guix/resources/guix-acl-keys/jc2.pub
Labels: none

Ensure proper SSL CAs are available on guix shell
  guix/README.md
Labels: none

Update guix to latest master
  guix/channels-lock.scm
Labels: none

Update my ACL key
  guix/resources/guix-acl-keys/jc2.pub
Labels: none

Install tmux on turing
  guix/machines/turing.scm
Labels: none

Rebrand turing as it is coming out of the water
  guix/machines/turing.scm
Labels: none

Create XDG_RUNTIME_DIR on turing
  guix/machines/turing.scm
Labels: none

Add LKE IP automatic whitelist updating
  ansible/group_vars/all/linode.yml
  ansible/group_vars/all/nftables.yml
  ansible/playbook.yml
  ansible/roles/linode-ips/tasks/main.yml
  ansible/roles/lke-nftables-update/handlers/main.yml
  ansible/roles/lke-nftables-update/tasks/main.yml
  ansible/roles/lke-nftables-update/templates/lke-nftables-update.service.j2
  ansible/roles/lke-nftables-update/templates/lke-nftables-update.timer.j2
  ansible/roles/lke-nftables-update/templates/lke.nft.j2
  ansible/roles/lke-nftables-update/templates/update-lke-ips.sh.j2
Labels: group: ansible

Update Grafana to enforce minimum membership of grafanausers
  kubernetes/namespaces/monitoring/grafana/configmap-ldap-toml.yaml
Labels: group: kubernetes

Enforce minimum membership of mailusers to send/receive(IMAP) mail
  ansible/roles/dovecot/templates/configs/auth-ldap.conf.ext.j2
Labels: group: ansible, component: email
