Repository python-discord/infra, pull requests merged in 2024-06, with the labels that each got.

#343 Install PostgreSQL documentation package
  ansible/roles/postgres/tasks/main.yml
Labels: component: database, group: ansible

#345 Switch to using designated placeholder IPv4 for originless records
  dns/zones/pydis.wtf.yaml
  dns/zones/pythondiscord.com.yaml
Labels: component: networking, component: security, group: dns

#351 Rename relabelledpods to just pods
  kubernetes/namespaces/loki/alloy_values.yml
Labels: component: monitoring, webscale, group: kubernetes

#354 Update site to run migrations in an init container
  kubernetes/namespaces/web/site/deployment.yaml
Labels: component: services, component: database, webscale, group: kubernetes
