Repository python-discord/infra, pull requests merged in 2024-04, with the labels that each got.

#197 Add PagerDuty to AlertManager channels
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
  kubernetes/namespaces/monitoring/alerts/alertmanager/secrets.yaml
Labels: component: monitoring

#220 Use Ansible Vault for storing users
  .github/workflows/lint-ansible.yaml
  ansible/.gitattributes
  ansible/README.md
  ansible/roles/pydis-users/vars/main.yml
Labels: group: ansible

#233 Use curl for status embed workflow
  docs/onboarding/access.md
Labels: group: github actions

#238 Use same indent for all fail2ban options
  ansible/roles/fail2ban/files/jail.local
Labels: component: networking, group: ansible

#245 Do not use vault token for linting branches
  .github/workflows/lint-ansible.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
Labels: component: security, group: github actions, group: ansible

#246 Update hugo theme submodule with dependabot
  .github/dependabot.yml
Labels: group: github actions, group: documentation

#247 Document how to use Ansible on Windows
  ansible/README.md
Labels: type: doc, group: ansible

#253 Connect netcup Prometheus to Kubernetes Alertmanager
  ansible/host_vars/lovelace/prometheus.yml
Labels: component: monitoring, group: ansible, group: kubernetes

#259 Add LKE addresses to group variables
  ansible/group_vars/all/linode.yml
  ansible/group_vars/all/nftables.yml
Labels: component: networking, group: ansible, group: kubernetes
