Repository python-discord/infra, pull requests merged in 2024-05, with the labels that each got.

#267 Depend on ansible-core instead of Ansible
  .github/workflows/lint-ansible.yaml
  .gitignore
  ansible/README.md
  ansible/ansible.cfg
  ansible/local_testing/Vagrantfile
  ansible/roles/requirements.yml
  poetry.lock
  pyproject.toml
Labels: group: ansible, group: documentation, do-not-merge

#274 Harden SSH security and prevent some misconfigurations
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/meta/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/pydis-users/meta/main.yml
  ansible/roles/pydis-users/tasks/main.yml
  ansible/roles/ssh/handlers/main.yml
Labels: component: networking, component: security, group: ansible

#270 Remove old groups from Vagrant inventory
  ansible/local_testing/hosts.yaml
Labels: group: ansible

#268 Set up database group for database hosts
  ansible/group_vars/all/nftables.yml
  ansible/inventory/hosts.yaml
  ansible/local_testing/hosts.yaml
  ansible/playbook.yml
Labels: component: networking, component: database, group: ansible

#272 Set up Prometheus alerting on Netcup
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/tasks/main.yml
Labels: component: monitoring, group: ansible

#276 Set the sshd backend for fail2ban
  ansible/roles/fail2ban/files/jail.local
Labels: component: networking, component: security, group: ansible

#275 Configure default security limits
  ansible/roles/common/tasks/main.yml
Labels: component: security, group: ansible

#269 Skip tasks requiring all hosts when running with limit
  ansible/roles/prometheus/tasks/main.yml
  ansible/roles/wireguard/tasks/main.yml
Labels: component: networking, group: ansible

#277 Perform fail2ban bans directly via nftables
  ansible/roles/fail2ban/files/jail.local
Labels: component: security, group: ansible

#278 Configure Prometheus alerting for failed systemd units
  ansible/host_vars/lovelace/prometheus.yml
  ansible/roles/prometheus/tasks/main.yml
Labels: component: monitoring, group: ansible

#291 Pleasure the style dictator
  ansible/roles/postgres/tasks/main.yml
  ansible/roles/postgres/vars/main/db_passwords.yml
Labels: component: database, group: ansible

#314 Fix AlertManager Discord instance formatting
  kubernetes/namespaces/monitoring/alerts/alertmanager.yaml
Labels: component: networking, webscale, group: kubernetes
